.assignment_one_container{
    display: flex;
    padding: 0 calc((100vw - 1200px) / 2);
    width: 100%; 
    gap:1rem;    
    .left_side{
        flex: 2.5;
        padding: 0.5rem 0.8rem;
        display: flex;
        flex-direction: column;
        .left_side_top{
            padding-bottom: 0.8rem;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 0.5rem;
            .left_side_top_text_btn{
                flex: 2;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                .left_side_top_text{
                    display: block;
                    width: 100%;
                    color:#ff0000;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                .left_side_top_dropdown_btn{
                    position: relative;
                    width: 1.5rem;
                    height: 1.5rem;
                    border: 0.1rem solid #000;
                    font-family: "fontAwesome";
                    text-align: center;
                    cursor: pointer;
                    &::before{
                        content: "\f0d8";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        
                    }
                    &::after{
                        content: "\f0d7";
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        width: 100%;
                    }
            }
            
            }
            .left_side_top_logo{
                flex:1;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .left_side_bar{
                    width: 08rem;
                    height: 1rem;
                    background: #000;
                    opacity: 0.1;
                }
                .left_side_btn{
                    text-align: right;
                    span{
                        padding: 0 0.2rem;
                    }

                }
            }
        }
        .grid_container{
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(12rem,1fr));
            gap: 1rem;
            .grid_card{
                width: 100%;
                border: 1px solid #000;
                padding: 0.2rem;
                img{
                    width: 100%;
                    height: 12rem;
                }
                p{
                    font-size: 1.2rem;
                    color: #0064BB;
                    cursor: pointer;
                }
            }
        }
        .pagination{
            margin: 1rem;
            ul{
                display: flex;
                gap: 1rem;
                li{
                    list-style: none;
                    padding: 0.5rem;
                    text-align: center;
                    border: 0.1rem solid black;
                }
            }
        }
    }
    .right_side{
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0.5rem 0.8rem;
        .right_side_top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .right_side_top_text{
                display: inline;
                text-transform: uppercase;
                color: #ff0000;
                font-size: 1.2rem;
                font-weight: bold;
            }
            .right_side_top_bar{
                flex:1;
                width: 100%;
                height: 1rem;
                background: #000;
                opacity: 0.1;
            }
        }   
        .right_card_container{
            text-align: center;
            border: 1px solid #000;
            margin-top: 0.5rem;
            padding: 0.5rem;
            img{
                width: 100%;

            }
        }
        .right_card_container_show_love{
            display: flex;
            text-align: center;
            border: 1px solid #000;
            margin-top: 0.5rem;
            padding: 0.5rem;
            gap: 1rem;
            width: 100%;
            .image_portion{
                flex: 1;
                width: 100%;
                height: 100;
                border: 1px solid black;
                
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .text_portion{
                flex: 3;
                width: 100%;
                text-align: left;
                font-size: 0.8rem;
                :nth-child(1){
                    display: block;
                    margin-bottom: 0.5rem;
                }
                :nth-child(2){
                    i{
                        display: inline-block;
                        background:rgb(92, 92, 207);
                        padding: 0.2rem;
                        color: #fff;
                        margin-right: 0.1rem;
                    }
                    padding: 0.4rem 0.5rem;
                    background: rgba(0, 0, 0, 0.2);
                    text-align: center;
                    font-weight: bolder;
                }
                :nth-child(3){
                    margin-left: 0.3rem;
                }
            }
        }
        .right_post_container{
            border: 1px solid #000;
            margin-top: 0.5rem;
            width: 100%;
            span{
                display: block;
                padding: 0.5rem 0rem 0rem 0.5rem;
                font-size: 0.8rem;
                color: rgb(92, 92, 207);
                border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
                cursor: pointer;
            }
        }
        .right_courseCode_area{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(05rem,1fr));
            gap: 0.5rem;
            width: 100%;
            border: 1px solid black;
            padding: 0.5rem;
            span{
                padding: 0.2rem 0.5rem;
                color: #fff;
                background:linear-gradient(#000, #ff0000);
                font-weight: bold;
                text-align: center;
            }
        }
        .right_courseNavigation_area{
        
            display: flex;
            margin-top: 1rem;
            padding: 0.5rem 0.5rem 0 0.5rem;
            justify-content: space-between;
            gap: 1rem;
            width: 100%;
                :nth-child(1){
                    background: #0064BB;
                    text-align: center;
                    padding: 0.5rem 1rem 0 1rem;
                    color:#fff;
                    text-decoration: none;
                    width: 100%;
                }
                :nth-child(2),:nth-child(3){
                
                    width: 100%;
                    text-align: center;
                    padding: 0.5rem 1rem;
                    color:#fff;
                    background: #000;
                    font-weight: bold;
                    cursor: pointer;
                    a{
                    background: #000;
                        
                    }
                }
        }
        .right_trending_area{

            width: 100%;
            border: 1px solid black;
            border-top: 5px solid #0064BB;
            padding: 0.5rem;
            span{
                display: block;
                color: #ff0000;
                transition: 0.3s;
                padding-top: 0.5rem;
                cursor: pointer;
                &:hover{
                    color: #0064BB;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width:780px) {
    .assignment_one_container{
        display: flex;
        flex-direction: column;
        .left_side{
            display: flex;
            justify-content: space-between;
            .left_side_top{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 0.5rem;
                .left_side_top_logo{
                    flex:1;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    .left_side_bar{
                        width: 15rem;
                    }
                    .left_side_btn{
                        span{
                            padding: 0 0.2rem;
                        }
    
                    }
                }
            }
        }
        .right_side{
            width: 100%;
            .right_courseNavigation_area{
                display: flex;
                :nth-child(1),:nth-child(2),:nth-child(3){
                    padding: 0.3rem;
                    font-size: 0.8rem;

                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    .assignment_one_container{
        .left_side{
            .left_side_top{
                .left_side_top_logo{
                    .left_side_bar{
                        width: 10rem;

                    }
                    .left_side_btn{
                        span{
                            padding: 0 0.2rem;
                        }
    
                    }
                }
            }
        }
        .right_side{
            flex: 1;
            width: 100%;
            .right_courseNavigation_area{
                display: flex;
                gap: 0.1rem;

                :nth-child(1),:nth-child(2),:nth-child(3){
    
                    font-size: 0.5rem;

                }
            }
        }
    }
}