.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc((100vw  - 1200px) / 2);
    background: #7F0000;

    .toggle{
        display: none;
    }
    .timer{
        font-size: 1.2rem;
        color: #fff;

    }
    .sub_nav{
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        .menu_items{
            position: relative;
            display: flex;

            li{
                list-style: none;
                padding: 0.5rem 0.5rem;
                font-size: 1.2rem;
                cursor: pointer;
                font-weight: bolder;
                transition: 0.3s ease;
                color: #fff;
                    &:hover{
                    background: #ff0000;
                }
                a{
                    text-decoration: none;
                    color: #fff;
                //     &:hover{
                //     background: #ff0000;
                // }
                }
            }
        }
    }
    .icons{
        ul{
            display: flex;
            li{
                list-style: none;
                padding: 0 0.5rem;
                font-size: 1.5rem;  
                cursor: pointer;
                color: #fff;

            }
            .youtube:hover{
                background: #E85E62;
            }
            .facebook:hover{
                background: #104A97;
            }
            .twitter:hover{
                background: #1C96E8;
            }
        }
    }
}



// logo section start
.logoContainer{
    margin-top: 1rem;
    margin-left: 1rem;
    position: relative;
    min-width: 100%;
    max-width: 10;
    height: 10rem;
    padding: 0 calc((100vw  - 1200px) / 2);
    padding-bottom: 1rem;
    cursor: pointer;
    a{

        img{
            
    
                height: 100%;
        }
    }
}
// logo section End



// nav menu section start
.nav_menu{
    .toggle{
        display: none;
    }
    padding: 0 calc((100vw  - 1200px) / 2);
    position: relative;
    background: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;

    .left_side{ 
        display: flex;
        align-items: center;
        .home_btn{
            margin-left: 1rem;
            margin-right: 0.1rem;
            position: relative;
            i{
                padding: 0.5rem 0.7rem;
                background:linear-gradient(#000,#E20404);
                font-size: 2rem;
                color: #fff;
                cursor: pointer;
            }
            &::before{
                content: "";
                position: absolute;
                width: 100%;
                top: -5px;  
                left: 0;
                border-bottom: 5px solid #000;
            }
            &::after{
                content: "";
                position: absolute;
                width: 100%;
                bottom: 0px;  
                left: 0;
                border-bottom: 5px solid #FF0000;
            }
        }
            .nav_item{
                display: flex;
                gap: 0.1rem;
            }
            li{
                    list-style:none;
                    position: relative;
                    color: #fff;
                    font-size: 0.8rem;
                    font-weight: bolder;
                    padding: 1rem 0.5rem;    
                    text-transform: uppercase;
                    cursor: pointer;
                    text-decoration: none;
                    z-index: 3000;
                    span{
                        padding-left: 0.5rem;
                    }
                a{

                    position: relative;
                    color: #fff;
                    font-size: 0.8rem;
                    font-weight: bolder;  
                    text-transform: uppercase;
                    cursor: pointer;
                    text-decoration: none;
                    span{
                        padding-left: 0.5rem;
                    }
                }
            ul{
                position: absolute;
                left: 0;
                width:18rem;
                height: 100%;
                top: calc(2rem + 0.7rem + 5px);
                flex-direction: column;
                display: none;
                li{
                    margin: 0.1rem 0;
                    padding: 0.3rem 0.3rem;
                    font-size: 0.8rem;
                    background: #7F0000;
                    &:hover{
                        background-color: #FF0000;
                    }
                }   
                
            }
            &:focus-within > ul ,
            &:hover>ul{
                display: block;
            }

            }
    }
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        border-bottom: 5px solid #FF0000;
    }
    .right_side{
        input{
            width: 10rem;
            outline: none;
            border: none;
            padding: 0.5rem 0.3rem;
            background:rgba(255,255,255,0.3);
            color: #fff;
        }
        input::placeholder{
            color: #fff;
        }
        span{
            margin: 0 1rem 0 0.7rem ;
            color:#fff;
        }
    }
}
// nav menu section end




@media screen and (max-width:980px) {
    .nav{
        .toggle{
            display: block;
            margin-left: 1rem;
            padding: 0.5rem 0.5rem;
            background: #ff0000;
            font-size: 2rem;
            cursor: pointer;
        }
        .sub_nav{
            .timer{
                font-size: 1rem;
            }
            .menu_items{
                    position: absolute;
                    flex-direction: column;
                    width: 100%;
                    left: 0;
                    top: 3.3rem;
                    background-color: black;
                    z-index: 1;
                    text-align: center;

            }
            .hidden{
                display: none;
            }
        }
    }
    .logoContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 08rem;
        a{
            height: 100%;   
        }
    }
    .nav_menu{
        .toggle{
            display: block;
            margin-left: 1rem;
            padding: 0.5rem 0.5rem;
            background: #ff0000;
            font-size: 2rem;
            cursor: pointer;
        }
        .left_side{
            .home_btn{
                z-index: 1;
                width: 100%;
                position: absolute;
                top:3.2rem;
                left: 0;
                text-align: center;
                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;  
                    left: 0;
                    border-bottom: none
                }
                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    bottom: 0px;  
                    left: 0;
                    border-bottom:none;
                }

            }
            .nav_item{
                z-index: 1;
                position: absolute;
                flex-direction: column;
                left: 0;
                right: 0;
                width: 100%;
                background-color: black;
                top: calc(100% + 3rem - 0.5rem);
                li{
                    width: 100%;
                    padding: 0.5rem 0.5rem;
   

                    ul{
                        position: relative;
                        top:0;
                        width: 100%;
                        li:hover{
                            background-color: #ff0000;
                        }
                    }
                }
            }
            .hidden{
                display: none;
            }
        }
    }
}

@media screen and (max-width:760px) {
    .nav{
        .sub_nav{
            .timer{
                display: none;
            }
            .menu_items{
                &.show{
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 3.3rem;
                    background-color: black;
                    z-index: 1;
                    text-align: center;
                }
                }
                .hidden{
                    display: none;
                }
            }
        }
}