.input_page_container{
    padding: 0 calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: space-between;
    .form_container{
        padding: 1rem 1rem;
        display: inline-block;
        .fieldset_holder{
            text-align: center;
            color: #ff0000;
            font-weight: bold;
            font-size: 1.5rem;
        }
        .input_container{
            margin: 1rem 1rem;
            label{
                font-size: 1.5rem;
                font-weight: bolder;
                color:#ff0000;
            }
            .input_portion{
                margin-top: 1rem;
                width: 25rem;
                height: 5rem;
                position: relative;
                .input_tag{
                    width: 100%;
                    height: 100%;
                    padding-left: 1rem;
                    outline: none;
                    font-size: 1.2rem;
                    cursor: pointer;
                    transition: 0.3;
                }
                .input_placeholder{
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-left: 1.2rem;
                    color: rgba(0,0,0,0.3);
                    transition: 0.3s;
                }
                // & .input_tag:valid ~ .input_placeholder,
                & .input_tag:focus ~ .input_placeholder
               {
                    font-size: 0.8rem;
                    border-left: 1px solid #ff0000;
                    border-right: 1px solid #ff0000;
                    background: #fff;
                    color: #ff0000;
                    font-weight: bold;
                    top: 0%;
                    margin: 0 1rem;
                    padding: 0 0.2rem;
                }
                & .input_tag:focus{
                    border: 1px solid #ff0000;
                }
            }
        }
        button{
            margin:0 0 1rem 1rem;
            padding: 0.3rem 1rem;
            font-size: 1rem;
            border: 1px solid #4B8DF8;
            border-radius: 0.5rem;
            outline: none;
            background: none;
            transition: 0.5s;
            &:hover{
                background: #4B8DF8;
                color: #fff;
            }
        }
    }
    .img_sec{
        margin: 1rem;
        padding: 1rem;
        width: 25rem;
        border: 1px solid black;
        object-fit:contain;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        word-wrap: break-word;
        gap: 1rem;
        p{
            width: 100%;
            height: 10rem;
            overflow:scroll;
            border: 1px solid black;
        }
        .img_section{
            width: 10rem;
            height: 10rem;
            border: 1px solid black;
            padding: 0.5rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}