.pastpaper_container{
    display: flex;
    padding: 0 calc((100vw - 1200px) / 2);
    .left_side{
        width: 100%; 
        border: 1px solid rgba(0, 0, 0, 0.3);
        flex: 2.5;
        margin: 0.5rem 0.8rem;
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        gap:3rem;
        .left_side_header{
            display: flex;
            flex-direction: column;
            padding: 1.5rem 0;
            .text{
                width: 100%;
                display: block;
                padding: 0.5rem 0;
                font-size: 1.5rem;
                font-weight: bold;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }
            .search_btn{
                display: flex;
                justify-content: flex-end;
                gap:0.3rem;
                padding-top: 0.5rem;
                span{
                    padding:0.3rem 0.5rem;
                    background: #0064BB;
                    color: #fff;
                    font-weight: bold;
                    font-size: 0.8rem;
                    cursor: pointer;
                    border-radius: 0.2rem;
                    i{
                        padding-right: 0.2rem;
                    }
                }
                input{
                    outline: none;
                }
            }
        }
        .left_side_all_subject_section{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            .black_subject_line_text{
                display: block;
                text-align: center;
                padding: 1rem 0;
                background: #000;
                color: #fff;
                text-transform:uppercase;
                font-weight: bold;
                font-size: 1rem;
                border-radius: 0.5rem;
                box-shadow: 08px 9px  10px #ff0000;
            }
            p{
                font-size: 1.1rem;
                color: rgba(0, 0, 0, 0.8);
                text-transform: capitalize;

                span{
                    background: yellow;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            .img_container{
                margin: 0 auto;
                width: 25rem;
                border: 1px solid #000;
                padding: 0.5rem;
                img{
                    width: 100%;
                    cursor: pointer;
                }
            }
            span{
                text-align: center;
                font-size: 1rem;
                text-transform: capitalize;
            }
        }
        .left_side_video_download_section{
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            .green_subject_line_text{
                display: block;
                text-align: center;
                padding: 1rem 0;
                background: #05659A;
                color: #fff;
                text-transform:uppercase;
                font-weight: bold;
                font-size: 1rem;
                border-radius: 0.5rem;
                box-shadow: 08px 9px 10px #9FDB51;
            }
            .left_side_video{
                margin: 5rem auto;
                width: 35rem;
                height: 20rem;
                video{
                    width: 100%;
                    height: 100%;
                    source{
                        width: 100%;
                        height: 100%;
                    }
                }

            }
        }
        .mcm_subjects_mid_term_past_papers{
            .title{
                background: yellow;
                font-size: 1.5rem;
            }
            .black_subject_line_text{
                margin-top: 2rem;
                display: block;
                text-align: center;
                padding: 1rem 0;
                background: #000;
                color: #fff;
                text-transform:uppercase;
                font-weight: bold;
                font-size: 1rem;
                border-radius: 0.5rem;
                box-shadow: 08px 9px  10px #ff0000;
            }
        
                .button{
                    background: #27AE60;
                    padding: 0.7rem 1rem;
                    font-weight: bold;
                    font-size: 1.2rem;
                    color: #fff;
                    text-align: center;
                    box-shadow: 08px 08px 10px black;
                    cursor: pointer;
                }
            
            table{
                margin: 2rem 0;
                width: 100%;
            }
            table, thead,td{
                border: 2px solid black;
                border-collapse: collapse;
            }
            thead{
                tr{
                    background: #EEEEEE;
                    td{
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                }
            }
            td{
                padding: 2rem 0.5rem;
            }
        }
    }
    .right_side{
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0.5rem 0.8rem;
        .right_side_top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .right_side_top_text{
                display: inline;
                text-transform: uppercase;
                color: #ff0000;
                font-size: 1.2rem;
                font-weight: bold;
            }
            .right_side_top_bar{
                flex:1;
                width: 100%;
                height: 1rem;
                background: #000;
                opacity: 0.1;
            }
        }   
        .right_card_container{
            text-align: center;
            border: 1px solid #000;
            margin-top: 0.5rem;
            padding: 0.5rem;
            img{
                width: 100%;

            }
        }
        .right_card_container_show_love{
            display: flex;
            text-align: center;
            border: 1px solid #000;
            margin-top: 0.5rem;
            padding: 0.5rem;
            gap: 1rem;
            width: 100%;
            .image_portion{
                flex: 1;
                width: 100%;
                height: 100;
                border: 1px solid black;
                
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .text_portion{
                flex: 3;
                width: 100%;
                text-align: left;
                font-size: 0.8rem;
                :nth-child(1){
                    display: block;
                    margin-bottom: 0.5rem;
                }
                :nth-child(2){
                    i{
                        display: inline-block;
                        background:rgb(92, 92, 207);
                        padding: 0.2rem;
                        color: #fff;
                        margin-right: 0.1rem;
                    }
                    padding: 0.4rem 0.5rem;
                    background: rgba(0, 0, 0, 0.2);
                    text-align: center;
                    font-weight: bolder;
                }
                :nth-child(3){
                    margin-left: 0.3rem;
                }
            }
        }
        .right_post_container{
            border: 1px solid #000;
            margin-top: 0.5rem;
            width: 100%;
            span{
                display: block;
                padding: 0.5rem 0rem 0rem 0.5rem;
                font-size: 0.8rem;
                color: rgb(92, 92, 207);
                border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
                cursor: pointer;
            }
        }
        .right_courseCode_area{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(05rem,1fr));
            gap: 0.5rem;
            width: 100%;
            border: 1px solid black;
            padding: 0.5rem;
            span{
                padding: 0.2rem 0.5rem;
                color: #fff;
                background:linear-gradient(#000, #ff0000);
                font-weight: bold;
                text-align: center;
            }
        }
        .right_courseNavigation_area{
        
            display: flex;
            margin-top: 1rem;
            padding: 0.5rem 0.5rem 0 0.5rem;
            justify-content: space-between;
            gap: 1rem;
            width: 100%;
                :nth-child(1){
                    background: #0064BB;
                    text-align: center;
                    padding: 0.5rem 1rem 0 1rem;
                    color:#fff;
                    text-decoration: none;
                    width: 100%;
                }
                :nth-child(2),:nth-child(3){
                
                    width: 100%;
                    text-align: center;
                    padding: 0.5rem 1rem;
                    color:#fff;
                    background: #000;
                    font-weight: bold;
                    cursor: pointer;
                    a{
                    background: #000;
                        
                    }
                }
        }
        .right_trending_area{

            width: 100%;
            border: 1px solid black;
            border-top: 5px solid #0064BB;
            padding: 0.5rem;
            span{
                display: block;
                color: #ff0000;
                transition: 0.3s;
                padding-top: 0.5rem;
                cursor: pointer;
                &:hover{
                    color: #0064BB;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width:780px) {
    .pastpaper_container{
        display: flex;
        flex-direction: column;
        .left_side{
        }
        .right_side{
            width: 100%;
            .right_courseNavigation_area{
                display: flex;
                :nth-child(1),:nth-child(2),:nth-child(3){
                    padding: 0.3rem;
                    font-size: 0.8rem;

                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    .pastpaper_container{
        .left_side{

        }
        .right_side{
            flex: 1;
            width: 100%;
            .right_courseNavigation_area{
                display: flex;
                gap: 0.1rem;

                :nth-child(1),:nth-child(2),:nth-child(3){
    
                    font-size: 0.5rem;

                }
            }
        }
    }
}