.footer_container{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    grid-gap: 0.5rem;
    padding: 1rem calc((100vw - 1200px) / 2);
    background: linear-gradient(#000,#E20404);
    color: #fff;
}
.footer_container::before{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: -5px;
    border-bottom: 0.5rem solid #ff0000;
}
.about_sec{
    margin: 0 0.5rem;
    .about_top{
        font-size: 1rem;
        color: #FFFB02;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-between;
        .first_span{
            display: block;
        }
        .second_span{
            flex:2;
            width: 100%;
            height: 0.5rem;
            background-color: #fff;
            opacity: 0.3;
        }  
    }
    .list_sec{
        padding-top: 1rem;
        padding: 1rem 0 0 1rem;
        ul{
            display: flex;
            flex-direction: column;
            li{
                display: flex;
                align-items: center;
                margin: 0.2rem 0;
                font-size: 0.9rem;

                i{
                    padding: 0.2rem;
                    margin-right: 0.2rem;
                    border-radius: 0.2rem;
                    font-size: 0.7rem;
                    background: #FE6602;
                }
                span{
                    display: flex;
                    align-items: flex-end;
                    &:hover{
                        color: #fff;
                        border-bottom: 0.1rem solid #fff;
                    }
                }
            }
        }
        p{
            padding-top: 1rem;
            text-align: center;
            span{
                color: #ff0000;
            }
        }
    }
    
}
.followers_sec{
    margin: 0 0.5rem;
    .followers_top{
        font-size: 1rem;
        color: #FFFB02;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-between;
        .first_span{
            display: block;
        }
        .second_span{
            flex:2;
            width: 100%;
            height: 0.5rem;
            background-color: #fff;
            opacity: 0.3;
        }  
    }
    .followers_id_sec{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(3rem,1fr));
        grid-gap: 1rem;
        padding-top: 1rem;
        span{
            i{
                cursor: pointer;
                display: block;
                padding: 1rem;
                width: 100%;
                background: #4B8DF8;
                font-size: 1.5rem;
                color: #fff;
                text-align: center;
            }
        }
        
    }
    button{
        margin-top: 0.5rem;
        padding: 0.5rem 1rem;
        outline: none;
        border: none;
        font-size: 1.2;
        background-color: #4B8DF8;
        color:#fff;
        cursor: pointer;
    }

}
.categories_sec{
    margin: 0 0.5rem;
    .categories_top{
        font-size: 1rem;
        color: #FFFB02;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-between;
        .first_span{
            display: block;
        }
        .second_span{
            flex:2;
            width: 100%;
            height: 0.5rem;
            background-color: #fff;
            opacity: 0.3;
        }  
    }
    .list_item{
        padding-top: 1rem;
        ul{
            display: flex;
            flex-direction: column;
            li{
               
                padding: 1rem 0.5rem;
                color: #ff0000;
                list-style: none;
                z-index: 1;
                &:hover{
                    background: rgba(255, 255, 255, 0.5);
                    border-left: 0.3rem solid #ff0000;
                    color: #fff;
                }
            }
        }
    }
}
.contact_sec{
    margin: 0 0.5rem;
    .contact_top{
        font-size: 1rem;
        color: #FFFB02;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-between;
        .first_span{
            display: block;
        }
        .second_span{
            flex:2;
            width: 100%;
            height: 0.5rem;
            background-color: #fff;
            opacity: 0.3;
        }  
    }
    form{
        div{
            
            display: flex;
            flex-direction: column;
            margin-top: 0.5rem;
            input{
                margin-top: 0.5rem;
                outline: none;
                border: none;
                height: 1.3rem
            }
            textarea{
                height:5rem;
                outline: none;
                border: none;

            }
        }
        button{
            margin-top: 0.5rem;
            padding: 0.3rem 0.5rem;
            outline: none;
            border: none;
            background-color: #4B8DF8;
            color:#fff;
        }
    }
}
hr{
    background: #000;
    height: 0.2rem;
}
footer{
    padding: 0 calc((100vw - 1200px) /2);
    background: #ff0000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 1.5rem;
}