 @use  "./NavBar/NavBar";
 @use "./Home/Home";
 @use "./Footer/Footer.scss";
 @use  "./Assignment1page/Assignment1";
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body{
  list-style: none;
   overflow-x: hidden;
   text-decoration: none;
 }